@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.mediaViewInfo {
	--web-view-name: Manshree;
	--web-view-id: Manshree;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
}
:root {
	--web-view-ids: Manshree;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#app {
	width: 100%;
	height: auto;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Manshree;
	--web-view-id: Manshree;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
}
.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inline-block;
}
.blur {
	filter: url('#dropshadow');
}
.headerBar {
	width: 100%;
	padding: 30px;
	overflow: hidden;
	z-index: 100;
	background-color:rgb(255, 255, 255);
}
.logo {
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(45,45,45,1);
}
.menu {
	clear: both;
	vertical-align: middle;
	display: inline-block;
}

.float {
	float: left;
}
.navMenuItem {
	display: inline-block;
	padding: 10px 20px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(45,45,45,1);
	text-transform: capitalize;
	
}


.unevenShape {
	display: block;
}
@media only screen and (max-width: 767px) {
	.headerBar {
		padding: 10px;
	}
	.logo {
		font-size: 20px;
	}
	.navMenuItem {
		padding: 8px 8px 0px;
		font-size: 12px;
	}
	
}


.landingBox {
	width: 100%;
	height: auto;
	padding-top: 50px;
	position: relative;
	text-align: center;
	background-color: rgba(46,139,87,1);
	overflow: hidden;
}
.landingHeading {
	display: inline-block;
	padding: 10px 0px;
	
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(255,255,255,1);
}
.landingText {
	display: inline-block;
	padding: 10px 0px;
	
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.testButton {
	background-color: rgba(255,255,255,1);
	padding: 10px 30px;
	margin-top: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	border-radius: 8px;
	color: rgba(46,139,87,1);
}
.testButton img {
	height: 35px;
	width: auto;
	margin-left: 20px;
}

.landingImage {
	position: absolute;
	width: 500px;
	height: auto;
	top: -300px;
	right: 10px;
	object-fit: cover;
	z-index: 100;
}
@media only screen and (max-width: 767px) {
	.landingBox {
		padding-top: 20px;
	}
	.landingHeading {
		padding: 10px;
		font-size: 20px;
	}
	.landingText {
		padding: 10px;
		font-size: 10px;
	}
	.testButton {
		padding: 8px 10px;
		margin-top: 20px;
		font-size: 18px;
	}
	.testButton img {
		height: 18px;
		margin-left: 8px;
	}

	.landingImage {
		width: 180px;
		top: -60px;
		right: 8px;
	}
}




.sectionHeading {
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 50px;
	color: rgba(45,45,45,1);
}
.aboutSection {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 30px;
}
.sectionBlock {
	width: 100%;
	height: auto;
	display: inline-block;
	clear: both;
	margin-bottom: 50px;
}
.sectionBlock .imageCol {
	text-align: center;
}
.sectionBlock .imageCol img {
	height: 350px;
	width: auto;
}
.sectionBlock .textCol {
	overflow: hidden;
}
.sectionBlock .textCol .contentHeading {
	margin: 20px 0px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(45,45,45,1); 
}
.sectionBlock .textCol .content {
	text-align: left;
	margin: 10px 0px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(45,45,45,1);
}
.sectionBlock .textCol button {
	padding: 10px 30px;
	margin: 10px 0px;
	white-space: nowrap;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	border-radius: 8px;
	font-size: 15px;
	color: rgba(255,255,255,1);
}

@media only screen and (max-width: 767px) {
	.sectionHeading {
		font-size: 20px;
		margin-bottom: 25px;
	}
	.aboutSection {
		padding-top: 100px;
	}
	.aboutSection .sectionStart {
		width: 100%;
		padding: 0px 20px;
	}
	.sectionBlock {
		margin-bottom: 20px;
	}
	.sectionBlock .imageCol img {
		display: none;
	}
	.sectionBlock .textCol img {
		display: inline-block;
		width: 100px;
		height: auto;
		position: absolute;
		top: 0;
		right: 20px;
		z-index: 0 !important;
	}
	.sectionBlock .textCol .contentHeading {
		margin: 10px 0px;
		font-size: 16px;
		z-index: 2 !important;
	}
	.sectionBlock .textCol .content {
		margin: 5px 0px;
		font-size: 12px;
		z-index: 2 !important;
	}
	.sectionBlock .textCol button {
		padding: 5px 10px;
		font-size: 12px;
	}
}

.testimonialSection {
	width: 100%;
	height: auto;
	padding-bottom: 80px;
}
.testimonialText {
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(45,45,45,1);
}
.testimonialsBlock {
	width: 70% !important;
	margin: auto;
	margin-top: 50px;
}
.testimonialSection .col-4 {
	text-align: center;
}
.tesimonialInlineBlock {
	width: 100%;
	margin-bottom: 80px;
	filter: drop-shadow(0px 0px 2px rgba(45, 45, 45, 0.1));
	background-color: rgba(255,255,255,1);
	border-radius: 8px;
	text-align: center;
	height: 250px;
	position: relative;
}
.quotes {
	position: absolute !important;
	width: 35px !important;
	height: auto !important;
	left: 20px !important;
	top: 20px !important;
}
.testimonialContent {
	display: inline-block;
	width: 80%;
	margin-top: 60px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(45,45,45,1);
}
.testimonialImageBox {
	filter: drop-shadow(0px 0px 10px rgba(45, 45, 45, 0.102));
	background-color: rgba(255,255,255,1);
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	bottom: -50px;
	transform: translateX(-50%);
	border-radius: 50%;
	padding: 10px;
}
.testimonialImageBox img {
	height: 100%;
	width: auto;
	border-radius: 50%;
	object-fit: cover;
}
@media only screen and (max-width: 767px) {
	.testimonialSection {
		margin-top: 20px;
		padding-bottom: 50px;
	}
	.testimonialText {
		font-size: 13px;
	}
	.testimonialsBlock {
		width: 100% !important;
		margin-top: 20px;
		padding: 0px 20px;
	}
	.testimonialInlineBlock {
		margin-bottom: 70px;
		height: 180px;
	}

	.quotes {
		width: 18px;
		left: 10px;
		top: 10px;
	}
	.testimonialContent {
		font-size: 12px;
	}
	.testimonialImageBox {
		width: 80px;
		height: 80px;
	}
}
.footerBar {
	width: 100%;
	margin-top: 0px;
	text-align: center;
	background-color: rgba(46,139,87,1);
}
.footerMenu {
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 30px;
	clear: both;
}
.footerMenuItem {
	display: inline-block;
	margin: 0px 20px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
	text-transform: capitalize;
}
.footerImage {
	position: absolute;
	width: 600px;
	height: auto;
	right: 20px;
	bottom: 5px;
	z-index: 100;
}
@media only screen and (max-width: 767px) {
	.footerBar {
		margin-top: 40px;
	}
	.footerMenu {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.footerMenuItem {
		margin: 0px 10px;
		font-size: 12px;
	}
	.footerImage {
		width: 180px;
		right: 10px;
		bottom: 0px;
	}
}
/* questions' page*/
.test-intro {
	text-align: center;
	margin-top: 100px;
}
.test-intro-block {
	display: inline-block;
	padding: 20px;
	height: 270px;
	width: 350px;
	margin: 20px;
	filter: drop-shadow(0px 0px 20px rgba(104, 104, 104, 0.502));
	border-radius: 8px;
	background-color: #fff;
	overflow: hidden;
}
.test-intro-block img {
	width: 150px;
	height: 160px;
	object-fit: cover;
}
.test-intro-block h2 {
	font-family: Poppins;
	font-weight: bold;
	font-size: 15px;
	color: #2d2d2d;
	text-align: center;
	padding-top: 15px;
	z-index: 11;
}
.test-intro-block h4 {
	font-family: Poppins;
	font-weight: normal;
	font-size: 12px;
	color: #9b9faa;
	text-align: center;
	z-index: 11;
}

/* Question Page */
.quesBlock {
	margin-top: 100px;
	position: relative;
	width: 100%;
	margin-left: 450px;

}
.quesBlock .row .col-12 {
	padding-left: 0px;
	padding-right: 0px;
}
.quesBlock .row .col-4 {
	padding-left: 0px;
	padding-right: 0px;
	padding: 10px;
}
.quesBlock h2 {
	font-size: 20px;
	font-family: Poppins;
	font-weight: bold;
}
.quesBlock input[type="radio"] {
	position: absolute;
	opacity: 0;
}
.quesBlock .check {
	position: absolute;
	height: 25px;
	width: 25px;
	top: 50%;
	left: 0;
	border-radius: 50%;
	transform: translateY(-50%);
	border: 4px solid #5d5d5d;
	-webkit-transition: .25s all ease;
	transition: .25s all ease;
}
.quesBlock label {
	padding: 10px 40px;
	font-size: 15px;
	margin-bottom: 0px;
	font-family: Poppins;
	font-weight: normal;
	-webkit-transition: .25s all ease;
	transition: .25s all ease;
}
.quesBlock .col-4:hover label {
	color: #949494;
}
.quesBlock .col-4:hover .check {
	border-color: #949494;
}

.quesBlock .selectedlabel {
	color: #fff;
	font-weight: bold;
	background-color: #2e8b57;
	border-radius: 20px;
}
.quesBlock .selectedcheck {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	z-index: -1;

}
.quesBlock .next-prev {
	padding-top: 50px;
}
.quesBlock .next-prev button {
	padding: 10px 30px;
	font-size: 15px;
	color: #2d2d2d;
	background: transparent;
	font-family: Poppins;
	font-weight: bold;
	border-radius: 8px;
	-webkit-transition: .25s all ease;
	transition: .25s all ease;
}
.quesBlock .next-prev button:hover {
	background-color: #2e8b57;
	color: #fff;
}

.slide{
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
}

.arrow {
	color: seagreen;
	font-size: 3em;
}

.MuiPagination-ul{
	margin-left: 550px;
}