.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto; }
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #999; }
  .nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px; }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
            transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f6f6; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }

  /*Appoinment Section*/
.appo-button {
	background-color: #2E8B57;
	padding: 10px 20px;
	margin: 0px 20px;
	display: inline-block;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	border-radius: 8px;
	font-size: 18px;
	color: rgba(255,255,255,1);
	text-transform: capitalize;
	filter: drop-shadow(3px 3px 5px rgba(104, 104, 104, 0.502));
}

.select-option {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.select-option .nice-select {
	border-radius: 0;
	width: 100%;
	border: 1px solid #ECEDEE;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

.select-option .nice-select .list {
	margin-top: 0;
	border-radius: 0;
	width: 100%;
}

.select-option .nice-select:after {
	border-bottom: 2px solid #4c4c4c;
	border-right: 2px solid #4c4c4c;
	height: 7px;
	right: 22px;
	top: 47%;
	width: 7px;
	opacity: 0.7;
}

.select-option .nice-select span {
	font-size: 16px;
	color: #4c4c4c;
}

.select-option .doctor-list {
	margin-right: 20px;
}

.select-option .doctor-list.nice-select {
	padding-right: 70px;
}

.appo-section {
	background-color: #fff; 
	padding-bottom: 100px; 
  background-image: url('https://globalfieldcore.com/wp-content/uploads/2019/12/appointment_policy_pic-1024x683.jpg');
	background-size: cover;
	position: relative;
	width: 100%;
  max-height: 1400px;
	font-family: Lato;
	text-align: center;
}
.appo-section .trans-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000000;
	opacity: .3;
}
.appo-section .outer-row {
	margin-top: 50px;
	display: inline-block;
	width: 90%;
	height: 100%;
}
.appo-section .cal {
	height: 300px;
	border-radius: 8px;
	background: transparent;
	position: relative;
}
.appo-section .cal .trans-bg {
	opacity: .5;
	border-radius: 8px;
}
.appo-section .time {
	background: transparent;
}
.appo-section .time .col-lg-3, .appo-section .time .col-md-6 {
	padding-right: 0px;
	padding-left: 0px;
}
.appo-section .time .slot {
	padding: 20px;
	margin-left: 20px;
	background: transparent;
	border-radius: 8px;
	position: relative;
}
.appo-section .time .slot .trans-bg {
	opacity: .5;
	border-radius: 8px;
}
.appo-section .time .slot .row {
	padding: 15px;
}
.appo-section .time .slot .col-lg-2, .appo-section .time .slot .col-md-6 {
	padding: 10px;
}
.appo-section .time .slot-title {
	text-align: left;
	padding-bottom: 15px;
}
.appo-section .time .slot-title h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
}
.appo-section .time .slot-title h5 {
	font-size: 13px;
	color: #a0a0a0;
}
.appo-section .time .slot-times {
	border-radius: 8px;
	padding: 10px;
	padding-right: 15px;
	border: 2px solid #fff;
	width: 100%;
	color: #fff;
	font-weight: 600;
	text-align: center;
	background: transparent;
	transition: all .5s;
}

.appo-section .time .slot-times:hover {
	background: #e7e7e7;
	color: #2d2d2d;
}
.appo-section .time .slot-times:focus {
	outline: none;
	background: #2d2d2d;
	color: #ffffff;
}

#AppointmentDate
{
  color:#ffffff;
}
.MuiIconButton-root{
  color:darkgreen;
}
.MuiInputLabel-formControl{
  color:#ffffff;
  font-weight: bold; 
  font-size: 16px;

}
.MuiInput-underline:after {
  color:#ffffff;

}